<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript" ></script>
</head>
<body>
<div th:insert="~{navtop :: nav}"></div>
<div class="container-fluid main">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <h2 th:text="${problems}"><span class="glyphicon glyphicon-th-list"></span></h2>
        <h3 th:if="${qul.pages.size()}==0">你的背包空空如也</h3>
        <div class="media" th:each="q:${qul.questionUser}">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" th:if="${q.user}!=null" th:src="${q.user.avatarUrl}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading" th:text="${q.title}"></h4>
                <span th:text="${q.description}"></span><br/>
                <span th:text="${q.commentCount}"></span>回复，<span th:text="${q.viewCount}"></span>浏览，<span th:text="${#dates.format(q.gmtCreate, 'yyyy-MM-dd')}"></span>时间
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${qul.showFirstPage}">
                    <a th:href="@{'/problem/problems?pageNum='+${qul.firstPage}+'&userId='+${session.user.getId()}}" aria-label="Previous">
                        <span aria-hidden="true">首页</span>
                    </a>
                </li>
                <li th:if="${qul.showPrevious}">
                    <a th:href="@{'/problem/problems?pageNum='+${qul.previousPage}+'&userId='+${session.user.getId()}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li  th:each="p:${qul.pages}" th:class="${qul.page==p}?'active':''"><a th:href="@{'/problem/problems?pageNum='+${p}+'&userId='+${session.user.getId()}}" th:text="${p}"></a></li>
                <li  th:if="${qul.showNext}">
                    <a th:href="@{'/problem/problems?pageNum='+${qul.nextPage}+'&userId='+${session.user.getId()}}"   aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li th:if="${qul.showEndPage}">
                    <a th:href="@{'/problem/problems?pageNum='+${qul.endPage}+'&userId='+${session.user.getId()}}" aria-label="Previous">
                        <span aria-hidden="true">尾页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="list-group">
            <a th:href="@{'/problem/problems?userId='+${session.user.getId()}}" class="list-group-item ">
                我的问题
            </a>
            <a th:href="@{'/problem/reply?userId='+${session.user.getId()}}" class="list-group-item active">
                回复我的
                <span class="badge">14</span>
            </a>
        </div>
    </div>
</div>

</body>
</html>